In [2]:
import nate

In [26]:
#import CSV of tweets, indicating text column and time column

tweets = nate.import_csv('../data/IRAhandle_tweets_2.csv', text='content', time='publish_date')

In [27]:
#create burst detection object

offsets = tweets.edge_burst_pipeline()

In [28]:
#generate time offsets for each term-pair occurrence in the dataset

offsets.generate_offset(minimum_offsets=100)

Generating Offsets:
commencing preliminary preparation...
finished preliminary preparation in 1 seconds
commencing spacy pipeline...
finished spacy pipeline in 152 seconds
commencing offset generation...
finished offset generation in 166 seconds
commencing timestamp deduplication...
finished timestamp deduplication in 166 seconds
Finished Generating Offsets. Returning offset dictionary.

In [29]:
#use time offsets to detect bursts

bursts = offsets.burst_detection(s=2, gamma=1)

In [30]:
burst_df = bursts.export_df()

In [31]:
burst_df.head(100)

,word1_#,word2_#,word1,word2,bursts,term_id,interval_start,interval_end,intensity
578,4984,5002,bea,beai,"{(1501590120.0, 1503091020.0): 0, (1501590120....",114,1.503037e+09,1.503037e+09,20
564,4984,5002,bea,beai,"{(1501590120.0, 1503091020.0): 0, (1501590120....",114,1.502564e+09,1.502564e+09,20
572,4984,5002,bea,beai,"{(1501590120.0, 1503091020.0): 0, (1501590120....",114,1.502756e+09,1.502756e+09,18
558,4984,5002,bea,beai,"{(1501590120.0, 1503091020.0): 0, (1501590120....",114,1.502365e+09,1.502365e+09,14
232,14243,14672,der,die,"{(1434301680.0, 1507033560.0): 0, (1465467420....",56,1.465470e+09,1.465471e+09,11
...,...,...,...,...,...,...,...,...,...
587,5002,58874,beai,trump,"{(1501590360.0, 1503090720.0): 0, (1502562060....",116,1.502562e+09,1.502567e+09,4
664,34038,38779,lose,need,"{(1435567620.0, 1498843200.0): 0, (1457057820....",127,1.461594e+09,1.461971e+09,4
440,7903,48012,brennan,rice,"{(1501588920.0, 1502841360.0): 0, (1501588920....",102,1.501759e+09,1.501781e+09,4
494,39943,44272,nsa,power,"{(1501588920.0, 1502841360.0): 0, (1501588920....",108,1.501759e+09,1.501783e+09,4
491,39943,44272,nsa,power,"{(1501588920.0, 1502841360.0): 0, (1501588920....",108,1.501597e+09,1.501609e+09,4

In [ ]:
bursts.create_burst_plot([('president', 'trump')], zoom_level=1, output_path="plots")